body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bt{
    height: 40px;
    width: 60px;
    background-color: black;
    color: white;
    
}

.btn{
    display: flex;
    justify-content: space-around;
}

.watch{
    border-radius: 10px;
    margin-top: 25vh;
    background-color: cadetblue;
    height: 200px;
    width: 400px;
    padding-top: 50px;
}

h1{
    border: 2px solid black;
    margin-left: 35px;
    margin-right: 35px;
    background-color: brown;
}